# Data Import

In [1]:
import pickle
with open('subscribers', 'rb') as f:
    subscribers = pickle.load(f)
subscribers

,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,retarget_TF,age,male_TF,...,creation_until_cancel_days,cancel_before_trial_end,trial_end_date,initial_credit_card_declined,revenue_net,join_fee,language,paid_TF,refund_after_trial_TF,payment_type
162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,False,NaN,False,...,NaN,True,2020-02-08,False,NaN,NaN,ar,True,False,Standard Charter
380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,False,70.0,False,...,0.0,False,2020-03-16,False,0.0000,0.3303,ar,False,False,NaN
496617,26844789,enhanced,3.362885,regional,replace OTT,36.001186,1.951776,False,25.0,True,...,1.0,False,2019-12-22,False,0.0000,0.1101,ar,False,False,NaN
356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,False,30.0,False,...,0.0,False,2020-02-11,False,0.0000,0.0367,ar,False,False,NaN
681701,26723159,base,3.731089,comedy,replace OTT,22.951579,2.506384,False,28.0,False,...,9.0,False,2019-10-20,False,0.0000,0.0367,ar,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509326,21434712,enhanced,2.594078,comedy,supplement OTT,28.751405,1.905485,False,38.0,False,...,8.0,False,2019-12-02,False,0.0000,0.3303,ar,False,False,NaN
229587,25843074,enhanced,2.361370,comedy,replace OTT,27.301448,1.835189,True,49.0,False,...,NaN,True,2019-12-21,False,4.5875,0.3303,ar,True,False,Paypal
281340,24799085,base,NaN,comedy,access to exclusive content,31.651317,NaN,False,45.0,False,...,31.0,True,2020-01-05,True,0.0000,0.0367,ar,False,False,NaN
87198,21308040,base,NaN,comedy,access to exclusive content,NaN,NaN,False,NaN,False,...,NaN,True,2020-02-01,False,NaN,NaN,ar,True,False,Paypal
598241,20166335,base,NaN,comedy,replace OTT,25.851492,NaN,False,55.0,False,...,4.0,False,2019-12-11,False,0.0000,0.0367,ar,False,False,NaN

In [2]:
import pickle
with open('customer_service_reps', 'rb') as f:
    customer_service_reps = pickle.load(f)
customer_service_reps

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
4,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,0,2019-11-26 03:30:29,2019-11-26 03:30:29,NaN
5,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,1,2019-11-26 03:30:29,2019-12-27 03:30:29,NaN
6,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,2,2019-12-27 03:30:29,2020-01-26 03:30:29,NaN
7,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,3,2020-01-26 03:30:29,NaT,NaN
8,31174901,25914865,True,NaT,2020-03-19 01:20:25,14,True,itunes,1.1377,0,2020-03-19 01:20:25,2020-04-02 01:20:25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248409,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,3,2019-08-27 20:23:27,2019-09-24 20:23:29,NaN
2248410,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,4,2019-09-24 20:23:29,2019-10-25 20:23:28,NaN
2248411,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,5,2019-10-25 20:23:28,2019-11-24 20:23:29,NaN
2248412,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,6,2019-11-24 20:23:29,2019-12-25 20:23:27,NaN
2248413,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,7,2019-12-25 20:23:27,NaT,NaN

In [3]:
import pickle
with open('engagement', 'rb') as f:
    engagement = pickle.load(f)
engagement

,subid,date,app_opens,cust_service_mssgs,num_videos_completed,num_videos_more_than_30_seconds,num_videos_rated,num_series_started,payment_period
1,22349235,2019-07-01,1.0,1.0,0.0,6.0,0.0,0.0,0.0
2,22349235,2019-07-02,1.0,0.0,0.0,5.0,0.0,0.0,0.0
3,22349235,2019-07-03,0.0,1.0,0.0,0.0,0.0,0.0,0.0
50,20848497,2019-07-02,1.0,0.0,7.0,7.0,0.0,0.0,0.0
51,22680106,2019-07-02,2.0,1.0,7.0,7.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
28832315,28409777,2020-04-21,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832317,28409777,2020-04-22,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832319,28409777,2020-04-23,0.0,0.0,4.0,4.0,0.0,1.0,1.0
28832321,28409777,2020-04-24,1.0,0.0,3.0,4.0,1.0,1.0,1.0
28832323,28409777,2020-04-25,1.0,0.0,0.0,4.0,0.0,1.0,1.0

In [4]:
import pandas as pd 
channel_spend = pd.read_csv("Copy of channel_spend_graduate (2).csv")
channel_spend

     channel    date  spend_AED
0       bing  201907        400
1    display  201907         12
2   facebook  201907       9000
3     search  201907      13000
4    youtube  201907         90
5       bing  201908        900
6    display  201908         20
7   facebook  201908      13000
8     search  201908      18500
9    youtube  201908        180
10      bing  201909       1000
11   display  201909         13
12  facebook  201909      10500
13    search  201909      19000
14   youtube  201909        100
15      bing  201910       1100
16   display  201910         19
17  facebook  201910      17000
18    search  201910      24000
19   youtube  201910        130
20      bing  201911       1300
21   display  201911         29
22  facebook  201911      23000
23    search  201911      25000
24   youtube  201911        550
25      bing  201912        300
26   display  201912         31
27  facebook  201912      16000
28    search  201912      38000
29   youtube  201912        900
30      bing  202001       2100
31   display  202001        148
32  facebook  202001      11000
33    search  202001      41000
34   youtube  202001       4360
35      bing  202002       3700
36   display  202002         94
37  facebook  202002      14000
38    search  202002      44000
39   youtube  202002       2420

# Data Preprocessing

In [5]:
# define conversion 
def categorise(row):  
    if row['paid_TF']  == True and row["refund_after_trial_TF"] == False:
        return True
    return False

subscribers["conversion"]  = subscribers.apply(lambda row: categorise(row), axis=1)

In [6]:
subscribers["conversion"].value_counts()

False    144823
True      82805
Name: conversion, dtype: int64

# Preliminary Analysis

**package type**

In [8]:
package1 = subscribers["package_type"].value_counts()
package2= subscribers[(subscribers['paid_TF'] == True) & (subscribers['refund_after_trial_TF'] == False)]\
    ["package_type"].value_counts()

In [9]:
package_type =pd.concat([package1,package2],axis=1)
package_type.columns = ["total","convert"]
package_type["conversion_rate"] = package_type["convert"]/package_type["total"]
package_type

           total  convert  conversion_rate
base      111464    41812         0.375117
enhanced   63241    20666         0.326782
economy    17349     6738         0.388380

**prefered genre**

In [10]:
genre1 = subscribers["preferred_genre"].value_counts()
genre2= subscribers[(subscribers['paid_TF'] == True) & (subscribers['refund_after_trial_TF'] == False)]\
    ["preferred_genre"].value_counts()

In [11]:
preferred_genre =pd.concat([genre1,genre2],axis=1)
preferred_genre.columns = ["total","convert"]
preferred_genre["conversion_rate"] = preferred_genre["convert"]/preferred_genre["total"]
preferred_genre

                total  convert  conversion_rate
comedy         125129    44735         0.357511
drama           46872    16756         0.357484
regional         8990     3525         0.392102
international    6404     2375         0.370862
other            3907     1569         0.401587

**Gender distribution**

In [12]:
gender1 = subscribers["male_TF"].value_counts()
gender2= subscribers[(subscribers['paid_TF'] == True) & (subscribers['refund_after_trial_TF'] == False)]\
    ["male_TF"].value_counts()

In [13]:
gender =pd.concat([gender1,gender2],axis=1)
gender.columns = ["total","convert"]
gender["conversion_rate"] = gender["convert"]/gender["total"]
gender.index = ["female","male"]
gender

         total  convert  conversion_rate
female  200902    71833         0.357552
male     26457    10869         0.410818

**Plan type**

In [14]:
plan_type1 = subscribers["plan_type"].value_counts()
plan_type2 = subscribers[(subscribers['paid_TF'] == True) & (subscribers['refund_after_trial_TF'] == False)]\
    ["plan_type"].value_counts()

In [15]:
plan_type =pd.concat([plan_type1,plan_type2],axis=1)
plan_type.columns = ["total","convert"]
plan_type["conversion_rate"] = plan_type["convert"]/plan_type["total"]
plan_type

                                    total  convert  conversion_rate
base_uae_14_day_trial              227096  82558.0         0.363538
high_uae_14_day_trial                 325     97.0         0.298462
low_uae_no_trial                      167    133.0         0.796407
base_eur_14_day_trial                  18      9.0         0.500000
high_sar_14_day_trial                  12      4.0         0.333333
low_gbp_14_day_trial                    4      1.0         0.250000
high_aud_14_day_trial                   2      1.0         0.500000
low_eur_no_trial                        1      NaN              NaN
base_uae_no_trial_7_day_guarantee       1      1.0         1.000000
low_sar_no_trial                        1      1.0         1.000000
high_jpy_14_day_trial                   1      NaN              NaN

**Channel**

In [17]:
attribution1 = subscribers["attribution_technical"].value_counts()
attribution2 = subscribers[(subscribers['paid_TF'] == True) & (subscribers['refund_after_trial_TF'] == False)]\
    ["attribution_technical"].value_counts()

In [18]:
attribution_technical =pd.concat([attribution1,attribution2],axis=1)
attribution_technical.columns = ["total","convert"]
attribution_technical["conversion_rate"] = attribution_technical["convert"]/attribution_technical["total"]
attribution_technical

                         total  convert  conversion_rate
facebook                 80251    26279         0.327460
email                    25690    10007         0.389529
search                   25306     8095         0.319885
organic                  22013     9027         0.410076
brand sem intent google  18524     7573         0.408821
google_organic           10691     4447         0.415957
affiliate                 9894     3039         0.307156
email_blast               7277     3589         0.493198
pinterest                 6065     1853         0.305523
referral                  5170     2797         0.541006
facebook_organic          3272     1116         0.341076
discovery                 2571      826         0.321276
brand sem intent bing     2231      864         0.387270
other                     1786      827         0.463046
display                   1407      520         0.369581
bing                      1146      380         0.331588
internal                  1122      532         0.474153
podcast                    985      325         0.329949
youtube                    913      228         0.249726
bing_organic               369      172         0.466125
vod                        297       78         0.262626
ott                        158       39         0.246835
direct_mail                139       73         0.525180
quora                      100       25         0.250000
samsung                     86       28         0.325581
appstore                    44       28         0.636364
criteo                      44       16         0.363636
pinterest_organic           30        8         0.266667
influencer                  21        2         0.095238
playstore                   12        5         0.416667
content_greatist             5        2         0.400000
twitter                      5        3         0.600000
tv                           4        2         0.500000

# A/B test

In [19]:
# to calculate conversion rate, we use proportion
import numpy as np
from scipy.stats import norm

def calc_proportion(variant):
    return sum(variant)/len(variant)

# calculate z-score
def calc_zscore(p_hat, p, n_f):
    return (p_hat-p)/np.sqrt(p*(1-p)/n_f)

# calculate probability 
def get_z_crit_value(alpha_f, num_sides_f):
    return norm.ppf(1-(alpha_f/num_sides_f))

# get p value for z-alpha
def get_p_value(zscore_f, num_sides_f):
    return (1-norm.cdf(abs(zscore_f))) * num_sides_f

# build hypothesis test and analyze if we can reject null 
def hypothesis_test(variantA_outcomes_f, variantB_outcomes_f, alpha_f, num_sides_f):
    p_hat_f = calc_proportion(variantB_outcomes_f)
    p_f = calc_proportion(variantA_outcomes_f)
    n_f = len(variantB_outcomes_f)
    z_score = calc_zscore(p_hat_f, p_f, n_f)
    p_value = get_p_value(z_score, num_sides_f)
    z_crit = get_z_crit_value(alpha_f, num_sides_f)
    return z_score > z_crit, z_score, p_value

In [25]:
# set assumptions
alpha = 0.05 # set confidence level alpha
num_sides = 1
confidence_level = 1 -(alpha/num_sides)

In [26]:
# only look at top three plan type because of their data volumes
conversion_by_plan_type = pd.DataFrame(index = ["conversion_rate","reject","z_score","p_value"], \
                        columns=['base_uae_14_day_trial','high_uae_14_day_trial','low_uae_no_trial'])

In [27]:
plan_type_list = ['base_uae_14_day_trial','high_uae_14_day_trial','low_uae_no_trial']

for i in range(len(plan_type_list)):
    variantA_base_uae_14 = subscribers.loc[(subscribers['plan_type'] == 'base_uae_14_day_trial'),'conversion']
    variantB = subscribers.loc[(subscribers['plan_type'] == plan_type_list[i]),'conversion']
    reject_null_test, z_score, p_value = hypothesis_test(variantA_base_uae_14, variantB, alpha, num_sides)
    
    conversion_by_plan_type.at["conversion_rate",plan_type_list[i]] = round(calc_proportion(variantB),4)
    conversion_by_plan_type.at["reject",plan_type_list[i]] = reject_null_test
    conversion_by_plan_type.at["z_score",plan_type_list[i]] = z_score
    conversion_by_plan_type.at["p_value",plan_type_list[i]] = p_value

In [28]:
conversion_by_plan_type
# low_uae_no_trial generates higher conversion rate compared to base_uae_14_day_trial

                base_uae_14_day_trial high_uae_14_day_trial low_uae_no_trial
conversion_rate                0.3635                0.2985           0.7964
reject                          False                 False             True
z_score                           0.0             -2.438955        11.629309
p_value                           0.5              0.007365              0.0

# Attribution and Allocation

In [29]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
ad_spending = pd.DataFrame(index=["bing","display","facebook","search","youtube"])
    
ad_spending["AED_spend"] = channel_spend.groupby(by="channel",sort=False)["spend_AED"].sum()
ad_spending

          AED_spend
bing          10800
display         366
facebook     113500
search       222500
youtube        8730

In [31]:
subscribers[subscribers.conversion == True][["attribution_technical"]].value_counts()

attribution_technical
facebook                   26279
email                      10007
organic                     9027
search                      8095
brand sem intent google     7573
google_organic              4447
email_blast                 3589
affiliate                   3039
referral                    2797
pinterest                   1853
facebook_organic            1116
brand sem intent bing        864
other                        827
discovery                    826
internal                     532
display                      520
bing                         380
podcast                      325
youtube                      228
bing_organic                 172
vod                           78
direct_mail                   73
ott                           39
appstore                      28
samsung                       28
quora                         25
criteo                        16
pinterest_organic              8
playstore                      5
twitter                        3
content_greatist               2
tv                             2
influencer                     2
dtype: int64

In [32]:
bing_CAC = ad_spending.at["bing","AED_spend"] / len(subscribers[subscribers.conversion == True][subscribers.attribution_technical == 'bing'])
display_CAC = ad_spending.at["display","AED_spend"] / len(subscribers[subscribers.conversion == True][subscribers.attribution_technical == 'display'])
facebook_CAC = ad_spending.at["facebook","AED_spend"] / len(subscribers[subscribers.conversion == True][subscribers.attribution_technical == 'facebook'])
search_CAC = ad_spending.at["search","AED_spend"] / len(subscribers[subscribers.conversion == True][subscribers.attribution_technical == 'search'])
youtube_CAC = ad_spending.at["youtube","AED_spend"] / len(subscribers[subscribers.conversion == True][subscribers.attribution_technical == 'youtube'])


print('bing: %.2f'%bing_CAC)
print('display: %.2f'%display_CAC)
print('facebook: %.2f'%facebook_CAC)
print('search: %.2f'%search_CAC)
print('youtube: %.2f'%youtube_CAC)

bing: 28.42
display: 0.70
facebook: 4.32
search: 27.49
youtube: 38.29

# Churn

In [33]:
subscribers_copy = subscribers.copy()

#drop uses who fill in age > 70, taken as random fillins
subscribers_copy.drop(subscribers_copy[subscribers_copy["age"]>70].index,inplace=True)

#drop timestamp columns
subscribers_copy.drop(["account_creation_date","trial_end_date"],axis = 1,inplace=True)

#drop rows where join_fee < 0, because they doesn't look like real customers
subscribers_copy.drop(subscribers_copy.loc[subscribers_copy['join_fee'] < 0].index, inplace=True)

#drop corelated columns
subscribers_copy.drop(['refund_after_trial_TF','paid_TF','cancel_before_trial_end',\
                       'creation_until_cancel_days','payment_type',"revenue_net",\
                      "initial_credit_card_declined"],axis = 1,inplace=True)

In [34]:
from sklearn.model_selection import train_test_split

df_train,df_test = train_test_split(subscribers_copy,test_size = 0.2, random_state = 11)

y_train = (df_train.conversion).values
y_test = (df_test.conversion).values

In [35]:
del df_train['conversion']
del df_test['conversion']

In [37]:
# one-hot encoding
from sklearn.feature_extraction import DictVectorizer
df_train = df_train.fillna(0)
df_test = df_test.fillna(0)

dict_train = df_train.to_dict(orient='records')
dict_val = df_test.to_dict(orient='records')

dv = DictVectorizer(sparse=False)
X_train = dv.fit_transform(dict_train)
X_val = dv.transform(dict_val)

In [38]:
# use decision tree model to make prediction
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [39]:
# model tuning 
for m in [8,10,12]:
    print('depth: %s' % m)

    for s in [1, 5, 10, 15, 20, 50, 100, 200]:
        dt = DecisionTreeClassifier(max_depth=m, min_samples_leaf=s)
        dt.fit(X_train, y_train)
        y_pred = dt.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_test, y_pred)
        print('%s -> %.3f' % (s, auc))
    
    print()

depth: 8
1 -> 0.863
5 -> 0.863
10 -> 0.863
15 -> 0.863
20 -> 0.863
50 -> 0.863
100 -> 0.862
200 -> 0.862

depth: 10
1 -> 0.865
5 -> 0.865
10 -> 0.866
15 -> 0.867
20 -> 0.867
50 -> 0.866
100 -> 0.867
200 -> 0.866

depth: 12
1 -> 0.859
5 -> 0.860
10 -> 0.862
15 -> 0.865
20 -> 0.865
50 -> 0.867
100 -> 0.868
200 -> 0.867

[depth = 12, samples_leaf = 100] yields higest AUC

In [40]:
dt = DecisionTreeClassifier(max_depth=12, min_samples_leaf=100)
dt.fit(X_train, y_train)
y_pred = dt.predict_proba(X_val)[:, 1]
roc_auc_score(y_test, y_pred)

0.8677743280662855

In [41]:
# Build discount strategy model 
def apply_offers(df, threshold, base_price, discount_amount, cases, acceptance_rate_churn, acceptance_rate_nonchurn):
    df_f = df.copy()

    # set offer parameters for all observations
    df_f['price_no_offer'] = base_price
    df_f.loc[df_f['conversion'] == False, 'price_no_offer'] = 0  # if the person churns they will pay 0

    # determine whether indiviudals accept offer
    df_f.loc[df_f['conversion'] == False, 'accept_offer_prob'] = acceptance_rate_churn  # those who were going to churn are less likely to want the offer than those who were going to stay
    df_f.loc[df_f['conversion'] == True, 'accept_offer_prob'] = acceptance_rate_nonchurn
    df_f['would_accept_offer_rand_draw'] = (df_f['random_draws'] < df_f['accept_offer_prob'])  # randomly select the individuals who would accept an offer based on their probability of acceptance

    # make offer under lpm predictions for select threshold
    df_f['make_offer'] = (df_f['prob_churn'] > threshold)     # predict whether individual will churn or not
    df_f['accept_offer'] = (df_f['make_offer'] & df_f['would_accept_offer_rand_draw'])
    df_f['price_offer'] = df_f['price_no_offer']  # initialize prices from "do nothing case"
    df_f.loc[df_f['accept_offer'], 'price_offer'] = base_price * (1-discount_amount)    # for those who were both made an offer and would accept, set prices to discounted price

    df_impact = pd.DataFrame(index=cases, columns=['subs', 'revenue', 'lift_from_no_offer'])
    for c in cases:
        df_impact.loc[c, 'subs'] = (df_f['price_' + c] > 0).sum() # 
        df_impact.loc[c, 'revenue'] = df_f['price_' + c].sum()
    for c in cases:
        df_impact.loc[c, 'lift_from_no_offer'] = df_impact.loc[c, 'revenue'] / df_impact.loc['no_offer', 'revenue'] - 1

    return df_f, df_impact

In [42]:
df_test['conversion'] = y_test.tolist()

**Scenario 1: discount is 10% off and acceptance rate = 20%**

In [95]:
acceptance_rate_nonchurn = 1
acceptance_rate_churn = 0.2
threshold = 0.30
base_price = 4.7343
discount_amount = 0.1
cases = ['no_offer', 'offer']
df_test['random_draws'] = np.random.random(df_test.shape[0])
df_test['prob_churn'] = dt.predict_proba(X_val)[:, 0]

In [96]:
df_test, df_impact = apply_offers(df_test, threshold, base_price, \
                                  discount_amount, cases, acceptance_rate_churn, acceptance_rate_nonchurn)

In [97]:
df_impact

           subs      revenue lift_from_no_offer
no_offer  16102   76231.6986                0.0
offer     21480  94807.19808           0.243672

In [98]:
discount_amount_10 = 0.1
acceptance_rate_churn_10 = 0.2

df_lift_threshold = pd.DataFrame(index=range(0, 100, 1), columns=['threshold'] + cases)
for t_ind in df_lift_threshold.index:
    t_threshold = t_ind / 100
    _, t_df_impact = apply_offers(df_test, t_threshold, base_price, \
                                  discount_amount_10, cases, acceptance_rate_churn_10, acceptance_rate_nonchurn)
    df_lift_threshold.loc[t_ind, 'threshold'] = t_threshold
    df_lift_threshold.loc[t_ind, cases] = t_df_impact.loc[cases, 'lift_from_no_offer']

In [99]:
df_lift_threshold["offer"].max()

0.24369022481679314

In [81]:
df_lift_threshold[df_lift_threshold["offer"]>0.257253757297230]

   threshold no_offer     offer
27      0.27      0.0  0.257254
30       0.3      0.0  0.257254

**Scenario 2: discount is 5% off and acceptance rate = 10%**

In [85]:
discount_amount_5 = 0.05
acceptance_rate_churn_5 = 0.1

df_lift_threshold = pd.DataFrame(index=range(0, 100, 1), columns=['threshold'] + cases)
for t_ind in df_lift_threshold.index:
    t_threshold = t_ind / 100
    _, t_df_impact = apply_offers(df_test, t_threshold, base_price, \
                                  discount_amount_5, cases, acceptance_rate_churn_5, acceptance_rate_nonchurn)
    df_lift_threshold.loc[t_ind, 'threshold'] = t_threshold
    df_lift_threshold.loc[t_ind, cases] = t_df_impact.loc[cases, 'lift_from_no_offer']

In [88]:
df_lift_threshold["offer"].max()

0.13702956154514956

In [89]:
df_lift_threshold[df_lift_threshold["offer"] >  0.137029561545149]

   threshold no_offer    offer
30       0.3      0.0  0.13703

In [93]:
acceptance_rate_nonchurn = 1
acceptance_rate_churn = 0.1
threshold = 0.30
base_price = 4.7343
discount_amount = 0.05
cases = ['no_offer', 'offer']
df_test['random_draws'] = np.random.random(df_test.shape[0])
df_test['prob_churn'] = dt.predict_proba(X_val)[:, 0]

In [94]:
df_test, df_impact = apply_offers(df_test, threshold, base_price, \
                                  discount_amount, cases, acceptance_rate_churn, acceptance_rate_nonchurn)
df_impact

           subs       revenue lift_from_no_offer
no_offer  16102    76231.6986                0.0
offer     18801  86200.950825           0.130776